In [1]:
import pandas as pd
import os
os.getcwd()

#'C:\\Users\\Dell\\Desktop\\Data\\Train_SU63ISt.csv'

'C:\\Users\\Portales Ely\\Desktop'

In [2]:
heroes_Pymoli = "C:\\Users\\Portales Ely\\Desktop\\pymoli_pandas.csv"

In [3]:
heroes_Pymoli_pd = pd.read_csv(heroes_Pymoli)
heroes_Pymoli_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
heroes_Pymoli_pd = heroes_Pymoli_pd.rename(columns={"SN":"Total Players"})
heroes_Pymoli_pd.head()

,Purchase ID,Total Players,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
total_players = len(heroes_Pymoli_pd["Total Players"].unique())

In [6]:
total_players

576

In [7]:
#Player Count
summary_table = pd.DataFrame({"Total Players": total_players,}, index=[0])
summary_table

   Total Players
0            576

In [8]:
#Purchasing Analysis (Total)
unique_items = len(heroes_Pymoli_pd["Item ID"].unique())

In [9]:
unique_items

183

In [10]:
average = heroes_Pymoli_pd["Price"].mean()
average

3.050987179487176

In [11]:
price = heroes_Pymoli_pd["Price"].sum()

In [12]:
price

2379.77

In [13]:
count_item = len(heroes_Pymoli_pd["Item ID"])

In [14]:
count_item

780

In [15]:
summary_table = pd.DataFrame({"Number of Unique Items": unique_items,"Average Price": average,"Number of Purchases": count_item,"Total Revenue": price}, index=[0])
summary_table

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

In [23]:

gen = heroes_Pymoli_pd['Gender'].value_counts()
gendf = pd.DataFrame(gen)
percent = (heroes_Pymoli_pd['Gender'].value_counts() / (heroes_Pymoli_pd['Gender'].count())) * 100
gendf['Percent of Players'] = percent
gendf = gendf.rename(columns={
    'Gender': 'Total',
})
gendf

                       Total  Percent of Players
Male                     652           83.589744
Female                   113           14.487179
Other / Non-Disclosed     15            1.923077

In [30]:
newgendf = heroes_Pymoli_pd.groupby('Gender')

player_count = newgendf['Total Players'].count()
playerdf = pd.DataFrame(player_count)

avg_price = newgendf['Price'].mean()

total_gen_purchase = newgendf['Price'].sum()

avgtotal = total_gen_purchase / player_count

playerdf['Average Purchase Price'] = avg_price
gen_purchase_df = pd.DataFrame(playerdf)
gen_purchase_df = gen_purchase_df.rename(columns={
    'Total Players': 'Purchase Count',
})


gen_purchase_df['Total Purchase Value'] = total_gen_purchase

gen_purchase_df['Avg Total Purchase per Person'] = avgtotal

gen_purchase_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

In [52]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 100]
bin_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
heroes_Pymoli_pd['Age Ranges'] = pd.cut(heroes_Pymoli_pd['Age'],
                                     bins, labels=bin_names)
totals = heroes_Pymoli_pd['Age Ranges'].value_counts()
percents = totals / heroes_Pymoli_pd.count()[0] * 100
age_df = pd.DataFrame({"Total Count": totals, "Percentage of Players": percents})
age_df = age_df.sort_index()
age_df

       Total Count  Percentage of Players
<10             32               4.102564
10-14           19               2.435897
15-19          136              17.435897
20-24          365              46.794872
25-29          101              12.948718
30-34           73               9.358974
35-39           41               5.256410
40+             13               1.666667

In [54]:

heroes_Pymoli_pd["Age Ranges"] = pd.cut(heroes_Pymoli_pd["Age"], bins, labels=bin_names)
total = heroes_Pymoli_pd.groupby(["Age Ranges"]).sum()["Price"].rename("Total Purchase Value")
average = heroes_Pymoli_pd.groupby(["Age Ranges"]).mean()["Price"].rename("Average Purchase Price")
count = heroes_Pymoli_pd.groupby(["Age Ranges"]).count()["Price"].rename("Purchase Count")
avgtotal = total / age_df['Total Count']
newagedf = pd.DataFrame({"Purchase Count": count, "Average Purchase Price": average, "Total Purchase Value": total, "Avg Total Purchase per Person": avgtotal})
newagedf = newagedf.sort_index()
newagedf

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,32,3.405000,108.96,3.405000
10-14,19,2.681579,50.95,2.681579
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

In [55]:
newtotal = heroes_Pymoli_pd.groupby(["Total Players"]).sum()["Price"].rename("Total Purchase Value")
newaverage = heroes_Pymoli_pd.groupby(["Total Players"]).mean()["Price"].rename("Average Purchase Price")
newcount = heroes_Pymoli_pd.groupby(["Total Players"]).count()["Price"].rename("Purchase Count")
newdf = pd.DataFrame({"Total Purchase Value": newtotal, "Average Purchase Price": newaverage, "Purchase Count": newcount})
newdf.sort_values("Total Purchase Value", ascending=False).head(5)

               Total Purchase Value  Average Purchase Price  Purchase Count
Total Players
Lisosia93                     18.96                3.792000               5
Idastidru52                   15.45                3.862500               4
Chamjask73                    13.83                4.610000               3
Iral74                        13.62                3.405000               4
Iskadarya95                   13.10                4.366667               3

In [56]:
populardf = heroes_Pymoli_pd.loc[:,["Item ID", "Item Name", "Price"]]
total_item = populardf.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")
average_item = populardf.groupby(["Item ID", "Item Name"]).mean()["Price"]
item_count = populardf.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
item_pd = pd.DataFrame({"Total Purchase Value": total_item, "Item Price": average_item, "Purchase Count": item_count})

item_pd.sort_values("Purchase Count", ascending=False).head(5)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.23,12
145,Fiery Glass Crusader,41.22,4.58,9
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.53,9
82,Nirvana,44.10,4.90,9
19,"Pursuit, Cudgel of Necromancy",8.16,1.02,8

In [57]:
item_pd.sort_values("Total Purchase Value", ascending=False).head(5)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.23,12
82,Nirvana,44.10,4.90,9
145,Fiery Glass Crusader,41.22,4.58,9
92,Final Critic,39.04,4.88,8
103,Singed Scalpel,34.80,4.35,8

In [ ]:
Los hombres son quienes más juegan este video juego con un 83% de participantes.
Los jugadores en su mayoría se encuentran en un rango de edad de entre 15 y 29 años. 
Oathbreaker, Last Hope of the Breaking Storm es el item que más se vende  en el juego.